
.fullpage {
    width: 80vw;
    height: 80vh; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(81, 117, 154);
    
    
}

.left-panel {
    width: 25%;
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: double;
    align-items: center;
    text-align: left;
    gap: 40px;
    
}

.newchat-btn {
    margin-top: 15px;
    width:40%;
    
    }

.left-panel .details {
    width:100%;
    
    align-self: flex-start ;
    background-color: rgb(219, 214, 214);
    
}    

.chats {
    
    display: flex;
    justify-content: space-between ;
    align-items: center ;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(125, 233, 233);
    border-style:outset;
    
}

.icon_button button {
    font-size: 10px;
    background-color: rgb(236, 230, 230);


}
.right-panel{
    width: 75%;
    
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border-radius: 10px;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    
    
}
.right-header {
    background-color: rgb(27, 54, 54);
    height: 10%;
    color: white;
    padding:10px;
    font-size: 25px;

}
.chat-body {
    width:100%;
    height:55%;
    flex: 1;
    padding: 10px ;
    
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;



}
.chat-message {
  max-width: 78%;
  padding: 10px 14px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(2,6,23,0.04);
  line-height: 1.4;
  word-break: break-word;
}


.chat-message.user {
    align-self: flex-end;
    background: #c2f5c3;
    color: #050000;
    margin-right: 16px;
    border-top-right-radius: 6px;

}

.chat-message.chatbot {
    align-self: flex-start;
    background-color: rgb(42, 216, 216);
    color: #000009;
    border-top-left-radius: 6px;

    
}


.chat-input-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap : 5px;

}

.chatinput-area {
    width: 90%;
    border-radius: 10px;
    background-color: rgb(224, 237, 233);
    font-size: 25px;
}

.send-btn {
    width: 10%;
    background-color: rgb(190, 141, 141);
}